<form method="post" action="/articles">
  <p>
    Title: <input type="text" name="title">
  </p>
  <p>
    Content: <input type="text" name="content">
  </p>
  <input type="submit" id="Submit">
</form>